<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter to handle Auth0 redirects -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Replace "com.telehealthapp" with your actual app scheme -->
                <data android:scheme="http" android:host="dev-4to8zs7d2r2lhajj.us.auth0.com" />
                <data android:scheme="https" android:host="dev-4to8zs7d2r2lhajj.us.auth0.com"/>   
                <data android:scheme="com.telehealthapp.auth0"
                 android:host="dev-4to8zs7d2r2lhajj.us.auth0.com" 
                 android:path="/android/com.telehealthapp/callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
